<div class="page-header">
	<h1>Search Results <small><%= 'for query: "' + params[:q] + '"' if params[:q].present? %></small></h1>
</div>

<% @entries.each do |entry| %>
	<div class="row">
		<div class="span12 well well-small">
			<div class="row">
				<div class="span8">
					<blockquote>
                        <p><%= link_to entry.title, entry %></p>
                        <small>go get <cite title="Source Title"><%= entry.url %></cite></small>
                    </blockquote>
				    
				</div>
				<div class="span2 offset2 text-right">
					<span class="label label-info" >Score <i class="icon-chevron-up"></i></span> <span class="badge badge-info"><%= entry.stars %></span> 
				</div>
			</div>
			<div class="row">
				<div class="span8">
					<%= entry.description %>
				</div>
				<div class="span2 offset2">
					<%= link_to entry.url, target: '_blank' do %>
					    <i class="icon-tasks"></i> GitHub
					<% end %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<%= will_paginate @entries, renderer: BootstrapPagination::Rails %>