<%= form_for :entry, url: "/entries" do |e| %>
  <fieldset>
    <legend>Create a new Go<-Seek entry</legend>
    <p>
      <%= e.label :title %><br>
      <%= e.text_field :title %>
    </p>
   
    <p>
      <%= e.label :description %><br>
      <%= e.text_area :description, rows: "4", style: "resize:none" %>
    </p>

    <p>
      <%= e.label :url %><br>
      <%= e.text_field :url %>
    </p>
   
    <p>
      <button name='commit' type='submit' class="btn">Create Entry</button>
    </p>
  </fieldset>
<% end %>